<div class="ftr">
    <div class="ftr-socials">
        <a href="https://in.linkedin.com/in/aniruddhaneema"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Ani1702"><i class="fa-brands fa-github"></i></a>
       <a href="mailto:aniruddhaneema@gmail.com"><i class="fa-brands fa-google"></i></a>
    </div>
    <p><i class="fa-regular fa-copyright"></i> Developed by Aniruddha Neema</p>
</div>