<% layout("/layouts/boilerplate") %>

<div class="add-ques row">
    <div class="col-8 offset-2">
        
<form action="/quiz/new" method="POST" novalidate class="needs-validation">
    
    <div class="mb-3">
        <label for="title" class="form-label">Title of Quiz</label>
        <input name="quiz[title]" class="form-control" placeholder="Enter title" required>
        <div class="invalid-feedback">Please enter a valid title!</div>
    </div>
    
    <div class="mb-3">
        <label for="instructions" class="form-label">Instructions</label>
            <textarea name="quiz[instructions]" class="form-control" cols="30" rows="4" required></textarea>
        <div class="invalid-feedback">Please enter a valid description!</div>
    </div>

    <br><br>

    <button class="btn btn-outline-dark next-btn mb-3">Next</button>
</form>
<br><br>
</div>
</div>


